{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Blog entries</h1>
</div>

<!-- blog entry -->
<div class="container">

<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <!-- Blog Post -->
   {% for entry in entries %}
    <div class="card mb-4">
      <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{entry.title}}</h2>
        <p class="card-text">{{entry.content}}</p>
        <a href="http://localhost/blog/single/index/{{entry.id}}" class="btn btn-primary">Read More &rarr;</a>
      </div>
      <div class="card-footer text-muted">
        Posted on {{entry.created_at }} by
        <a href="#">{{entry.user.user}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
